body {
	width:800px;
	margin:auto;
}

.main_grid {
	display: grid;
	text-align:center;
}
.accueil, .ingredient, .frigo, .recette {
	padding-top:20px;
	padding-bottom:20px;
}

.accueil {
	grid-column-start: 1;
	grid-column-end: 2;
	background-color:#FAA;
}
.ingredient {
	grid-column-start: 2;
	grid-column-end: 3;
	background-color:#AFA;
}
.frigo {
	grid-column-start: 3;
	grid-column-end: 4;
	background-color:#AAF;
}
.recette {
	grid-column-start: 4;
	grid-column-end: 5;
	background-color:#FAF;
}

.content {
	border:1px solid black;
	padding-top:20px;
	padding-bottom:20px;
	grid-column-start: 1;
	grid-column-end: 5;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 5;
}


/* pour la fênetre ingredient*/
.titre{
	font-weight:bold;
}

table
{
    border-collapse: collapse;
}
td, th{
  border: 1px solid black;
}

tr.couleur_ligne td{
	background-color: #ffffaa;  /* yellow */
}
tr.couleur_ligne:hover td{
	background-color: #c3c376;  /* yellow dark */
}
tr:hover td{
	background-color: #dad8d8;  /*light grey */
	transition: background-color 0.2s;
}
.conteneur {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.sous_conteneur {
  margin:auto;
}

.icon {
	width:20px;
	height:20px;
}

.icon:hover	{
	background-color:#AAD;
	border-radius:5px;
	cursor:pointer;
}
.erreur_doublon{
	color: red;
}